# dotenv file
.env
docker-compose.yml
**/*.json

# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings*.php
docroot/sites/*/services*.yml

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Ignore SimpleTest multi-site environment.
docroot/sites/simpletest
# some sql dump file
*.sql
*.sql.gz
*.tgz
*.tar.gz


# backup files
*.original
*.backup
.idea

# IDE Config
**/.DS_Store
.vscode
.ddev
.idea
.lando.yml
/tmp
**/*.json
**/node_modules
.lingma
CLAUDE.md