label.checkbox,
label.radio {
  @apply flex items-center cursor-pointer space-x-2 mb-2;
  color: var(--color-blue-500);

  input {
    @apply absolute opacity-0;
    &:checked {
      ~ .mark {
        @apply bg-sky-blue-500 border-sky-blue-500;
        &:after {
          display: block;
        }
      }
    }
    &:disabled {
      ~ .mark {
        @apply bg-gray-300 border-gray-300 cursor-not-allowed;
      }
    }
  }
  .mark {
    @apply inline-block w-[20px] h-[20px] relative bg-white border border-blue-500 flex-shrink-0;
    &::after {
      @apply wenicon;
      content: "\e670";
      font-size: 20px;
      line-height: 1;
      color: #fff;
      display: none;
    }
  }
}
label.checkbox {
  .mark {
    border-radius: 2px;
  }
}

label.radio {
  .mark {
    @apply rounded-full !bg-transparent flex justify-center items-center;
  }
  input {
    &:checked {
      ~ span.mark {
        border-width: 2px;

        &::after {
          @apply content-[''] bg-sky-blue-500;
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
