@import "tailwindcss";
@config "../../tailwind.config.js";
@import './ui/classes.scss';


@theme {

  --font-sans: "notosans", Helvetica, Arial, Sans Serif;
  --font-notosans-bold: "notosansbold";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  --color-sky-blue-500: #00BFF2;
  --color-sky-blue-100: #BDF1FF;
  --color-sky-blue-50: #F0FCFF;
  --color-blue-500: #07185C;
  --color-blue-100: #B1BBE2;
  --color-blue-50: #EAECF5;
  --color-blue: var(--color-blue-500);

  --color-red-500: #EB008B;
  --color-red-100: #FFB8E2;
  --color-red-50: #FFEBF7;

  --color-grey-100: #F7F7F8;
  --color-grey-200: #DDDDDF;
  --color-grey-300: #A6A8B0;
  --color-grey-400: #6E7281;
  --color-grey-500: #3E414C;
  --color-grey-600: #101114;
  --color-grey-close: #1C1B1F;
  --color-grey: var(--color-grey-600);

  --color-error-primary:#CC1000;
  --color-error-secondary:#FFE3E0;
  --color-warning-primary:#6E4005;
  --color-warning-secondary:#FFF1D6;
  --color-success-primary:#006936;
  --color-success-secondary:#E2EFDA;
  --color-info-primary:#084285;
  --color-info-secondary:#D9EAFF;

  --color-primary: var(--color-sky-blue-500);
  --color-secondary: var(--color-blue-500);


  --tracking-base:1.125;

  --spacing: 0.25rem;

  --breakpoint-sm: 20rem;
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */  
  --breakpoint-2xl: 90rem; /* 1440px */

  --container-xs: 20rem;
  --container-sm: 48rem;
  --container-md: 64rem;
  --container-lg: 80rem;
  --container-xl: 90rem;

  --grid-cols-12:  grid-template-columns: 12;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.2;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.4;
  --text-md: 1rem;
  --text-md--line-height: 1.4;
  --text-base: 1rem;
  --text-base--line-height: 1.4;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.4;
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1.4;
  --text-2xl: 1.375rem;
  --text-2xl--line-height: 1.4;
  --text-3xl: 1.5625rem; /* 24.8px */
  --text-3xl--line-height: 1.4;
  --text-4xl: 1.75rem;
  --text-4xl--line-height: 1.2;
  --text-5xl: 2rem; /* 32px */
  --text-5xl--line-height: 1.2;
  --text-6xl: 2.25rem; /* 36px */
  --text-6xl--line-height: 1.2;
  --text-7xl: 2.5rem; /* 40px */
  --text-7xl--line-height: 1.2;
  --text-8xl: 2.8125rem;
  --text-8xl--line-height: 1.2;
  --text-9xl: 3.125rem;
  --text-9xl--line-height: 1.2;

  --text-icon-xs: 1.25rem; /* 20px */
  --text-icon-xs-line-height: 1;
  --text-icon-sm: 1.5rem; /* 24px */
  --text-icon-sm-line-height: 1;
  --text-icon-lg: 2.25rem; /* 36px */
  --text-icon-lg-line-height: 1;

  --leading-heading:1.2;
  --leading-body:1.4;
  --leading-label:1.2;


  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-outside: cubic-bezier(0.25, 1, 0.5, 1);

  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;

  --drop-shadow-xl: 0 4px 4px rgba(0, 0, 0, 0.25);

}

@import './ui/components-buttons.scss';
@import './ui/form-elements.scss';

@layer base{

  html{
    scroll-behavior: smooth;
  }
  body{
    @apply text-base tracking-base text-grey-600 antialiased font-sans;
    scroll-behavior: smooth;
    font-family: "notosanssc", "notosans",  "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
  }
  form{
    @apply text-base;
  }


  header,
  section,
  footer{
    @apply flex flex-col;
  }


  h1{ @apply text-9xl; }
  h2{ @apply text-7xl; }
  h3{ @apply text-3xl md:text-5xl; }
  h4{ @apply text-2xl md:text-3xl; }
  h5{ @apply text-xl;  }
  h6{ @apply text-base;}
  h1,h2,h3,h4,h5,h6{
    @apply font-bold leading-heading;
  }
  
  p{
    @apply break-words;
  }

  a{
    @apply text-blue-500 hover:text-sky-blue-500 transition-colors duration-300;
  }

  /* Table */
  table{
    @apply text-left;
  }
  th{
    @apply font-normal text-blue-500;
  }
  td{
    @apply text-gray-600;
  }

}

/* Utilities */

@utility h1{ @apply text-9xl font-bold leading-heading; }
@utility h2{ @apply text-7xl font-bold leading-heading; }
@utility h3{ @apply text-5xl font-bold leading-heading; }
@utility h4{ @apply text-3xl font-bold leading-heading; }
@utility h5{ @apply text-xl font-bold leading-heading;  }
@utility h6{ @apply text-base font-bold leading-heading;}
@utility h7{ @apply text-sm font-bold leading-heading;  }

@utility wenicon{
  font-family: "wenicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@utility container {
  @apply max-w-lg mx-auto px-4;
  @variant sm {
    @apply px-4;
  }
  @variant md {
    @apply px-6;
  }
  @variant lg {
    @apply px-10;
  }
}

@utility shadow-blue-md{
  box-shadow: 0px 1px 3px 0px rgba(0, 191, 242, 0.12), 0px 4px 8px 3px rgba(0, 191, 242, 0.12);
}
@utility shadow-dark-blue{
  box-shadow: 0px 1px 4px 0px rgba(7, 24, 92, 0.12), 0px 4px 8px 3px rgba(7, 24, 92, 0.12);
}

@utility text-fill-transparent {
  -webkit-text-fill-color: transparent;
}

@utility text-fill-current {
  -webkit-text-fill-color: currentColor;
}

@utility transition-ui{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
}



@source "../*.ui styles.yml";
@source "../templates/**/*.{twig,js}";
@source "../components/**/*.{twig,js,yml}";