<div class="words-page">
  <div class="words-page__header">
    <h1>单词学习</h1>
    <div class="words-page__search">
      <input type="text" id="word-search" placeholder="搜索单词..." />
    </div>
  </div>

  <div class="words-page__content">
    <div id="word-cards" class="word-cards">
      <!-- Word cards will be loaded here via JavaScript -->
    </div>
  </div>

  <div class="words-page__loading" id="loading" style="display: none;">
    加载中...
  </div>
</div>
