@import "tailwindcss";
@import "./base.scss";


@theme {

  --color-theme-1: #f30ce4;
  --color-theme-2: #5422f3;

}

@layer base{

  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: "notosanssc", "notosans",  "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
    scroll-behavior: smooth;
  }

  button{
    @apply cursor-pointer;
  }
}

/* Vue 列表过渡动画 */
.list-enter-active,
.list-leave-active {
  transition: all 0.4s ease;
}


/* 防止Vue加载前显示原始标签 */
[v-cloak] {
  @apply hidden;
}


/* Main menu */
.main-menu{
  @apply bg-white shadow-xs rounded-b-2xl sticky top-0 z-5 mx-4;
  .menu{
    @apply flex  items-center space-x-2 sm:space-x-4;
    .menu-item{
      @apply px-5 py-2 rounded-full text-base font-medium transition-colors;
    }
    .menu-item-active{
      @apply transition-colors bg-gradient-to-br from-[#5422f3] to-[#f30ce4] text-white;
    }
  }
}


/* block */
.block-search{
  background-image: url('/src/assets/images/banner.png');
  @apply bg-no-repeat bg-cover h-70 flex flex-col justify-start items-center rounded-2xl overflow-hidden;
  .inner{
    @apply w-full flex items-center bg-white/95 rounded-t-2xl text-black relative;
  }
}


/* Cards */
.cards-normal{
  @apply grid grid-cols-1 md:grid-cols-2  gap-4;
  .card-item{
    @apply bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow flex;
    .card-item-col{
      @apply w-full px-2 py-2 flex items-center gap-1;
      &:first-child{
        @apply bg-amber-900 rounded-lg;
      }
    }
    .card-item-title{
      writing-mode:vertical-lr;
      @apply text-xs uppercase tracking-wide;
    }
    .card-item-content{
    }
  }
}