@import "tailwindcss";
@import "./base.scss";


@theme {

  --color-theme-1: #f30ce4;
  --color-theme-2: #5422f3;

}

@layer base{

  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: "notosanssc", "notosans",  "Hiragino Kaku Gothic ProN", Meiryo,  sans-serif;
    scroll-behavior: smooth;
  }

  button{
    @apply cursor-pointer;
  }

  table{
    @apply bg-white w-full border border-neutral-400 my-2;
    td{
      @apply w-full py-2 px-4 border border-neutral-400;
    }
  }
}

.btn{
  @apply py-2 px-3 text-sm rounded-lg text-left transition-all  items-center justify-between border-2 font-medium;
}

/* Vue 列表过渡动画 */
.list-enter-active,
.list-leave-active {
  transition: all 0.4s ease;
}


/* 防止Vue加载前显示原始标签 */
[v-cloak] {
  @apply hidden;
}


/* Main menu */
.main-menu{
  @apply bg-white shadow-xs md:rounded-b-2xl sticky top-0 z-5 md:mx-4;
  .menu{
    @apply flex justify-center items-center sm:space-x-4 px-4 mb-2 md:mb-0;
    .menu-item{
      @apply w-full md:w-auto px-2 text-center py-2 rounded-full text-base font-medium transition-colors;
    }
    .menu-item-active{
      @apply transition-colors bg-gradient-to-br from-[#5422f3] to-[#f30ce4] text-white;
    }
  }
}


/* block */
.block-search{
  @apply bg-no-repeat bg-cover flex flex-col justify-start items-center;
  .inner{
    @apply w-full flex items-center  text-black relative;
  }
}


/* Cards */
.cards-normal{
  @apply grid grid-cols-1 md:grid-cols-2  gap-1 md:gap-4 max-w-full py-2 overflow-hidden;
  .card-item{
    @apply bg-white rounded-2xl shadow-md hover:shadow-lg transition-shadow flex;
    .card-item-col{
      @apply w-full px-2 py-2 flex items-center gap-1;
      &:first-child{
        @apply bg-amber-900 rounded-lg;
      }
    }
    .card-item-title{
      writing-mode:vertical-lr;
      @apply text-xs uppercase tracking-wide;
    }
    .card-item-content{
    }
  }
}


.card-question{
  @apply pb-6 bg-white rounded-xl shadow-sm border border-slate-100 hover:shadow-md relative overflow-hidden flex flex-col justify-between;
  .question-header{
    @apply flex gap-4 items-center justify-between flex-wrap py-4 px-6 bg-sky-50/30 shadow-sm;
  }
}



.quiz-page {
  @apply fixed top-0 w-full h-screen overflow-y-auto;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.feedback-message{
  @apply text-xl font-bold;
  &.correct{
    @apply text-green-500;
  }
  &.incorrect {
    @apply text-red-600;
  }
} 



