@font-face {
  font-family: "iconfont"; /* Project id 5107400 */
  src: url('iconfont.woff2?t=1768034550834') format('woff2'),
       url('iconfont.woff?t=1768034550834') format('woff'),
       url('iconfont.ttf?t=1768034550834') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e643";
}

.icon-double_arrow_right:before {
  content: "\e63f";
}

.icon-video_play:before {
  content: "\e642";
}

.icon-grid:before {
  content: "\e641";
}

.icon-error:before {
  content: "\e640";
}

.icon-credit_card:before {
  content: "\e644";
}

.icon-website:before {
  content: "\e645";
}

.icon-share:before {
  content: "\e646";
}

.icon-arrow_up:before {
  content: "\e63e";
}

.icon-link:before {
  content: "\e647";
}

.icon-a-zoomin:before {
  content: "\e648";
}

.icon-download:before {
  content: "\e649";
}

.icon-upload:before {
  content: "\e64a";
}

.icon-schedule:before {
  content: "\e64b";
}

.icon-message:before {
  content: "\e64c";
}

.icon-a-zoomout:before {
  content: "\e64d";
}

.icon-refresh:before {
  content: "\e64e";
}

.icon-fullscreen:before {
  content: "\e64f";
}

.icon-double_arrow_left:before {
  content: "\e650";
}

.icon-add_circle:before {
  content: "\e651";
}

.icon-circle_right:before {
  content: "\e652";
}

.icon-close:before {
  content: "\e653";
}

.icon-list:before {
  content: "\e654";
}

.icon-more:before {
  content: "\e655";
}

.icon-image:before {
  content: "\e656";
}

.icon-pause:before {
  content: "\e657";
}

.icon-circle_down:before {
  content: "\e658";
}

.icon-location_on:before {
  content: "\e659";
}

.icon-warning:before {
  content: "\e65a";
}

.icon-disturb_circle:before {
  content: "\e65b";
}

.icon-filter_alt:before {
  content: "\e65c";
}

.icon-favorite:before {
  content: "\e65d";
}

.icon-desktop:before {
  content: "\e65e";
}

.icon-logout:before {
  content: "\e65f";
}

.icon-map:before {
  content: "\e660";
}

.icon-chevron_up:before {
  content: "\e661";
}

.icon-menu:before {
  content: "\e662";
}

.icon-e-mail:before {
  content: "\e663";
}

.icon-close_small:before {
  content: "\e664";
}

.icon-circle_left:before {
  content: "\e665";
}

.icon-calendar_month:before {
  content: "\e666";
}

.icon-circle_up:before {
  content: "\e667";
}

.icon-bookmark_add:before {
  content: "\e668";
}

.icon-chevron_down:before {
  content: "\e669";
}

.icon-arrow_right:before {
  content: "\e66a";
}

.icon-delete:before {
  content: "\e66b";
}

.icon-chevron_right:before {
  content: "\e66c";
}

.icon-chevron_forward:before {
  content: "\e66d";
}

.icon-call:before {
  content: "\e66e";
}

.icon-arrow_left:before {
  content: "\e66f";
}

.icon-check:before {
  content: "\e670";
}

.icon-cancel:before {
  content: "\e671";
}

.icon-account:before {
  content: "\e672";
}

.icon-arrow_downward_alt:before {
  content: "\e673";
}

.icon-add_small:before {
  content: "\e674";
}

.icon-reduce:before {
  content: "\e675";
}

.icon-switch:before {
  content: "\e678";
}

.icon-schedule1:before {
  content: "\e67a";
}

.icon-route:before {
  content: "\e67b";
}

.icon-info:before {
  content: "\e67d";
}

.icon-discover_tune:before {
  content: "\e67e";
}

.icon-morning:before {
  content: "\e683";
}

.icon-shopping:before {
  content: "\e684";
}

.icon-night:before {
  content: "\e685";
}

.icon-a-dianzan11:before {
  content: "\e686";
}

.icon-tomorrow:before {
  content: "\e61a";
}

.icon-today:before {
  content: "\e61b";
}

.icon-flight-added:before {
  content: "\e61c";
}

.icon-flight-no-added:before {
  content: "\e61d";
}

.icon-tag:before {
  content: "\e626";
}

.icon-edit:before {
  content: "\e627";
}

